
<body style="background-color: black; width: 100vw; height: 100vh;">

    <header>
        <h1>Carrousel de Juegos</h1>
    </header>
    <main>
        <div class="album">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="./images/snake.jpg" alt="Imagen snake" style="width:100%">
        
                    <div class="card-body">
                      <p class="card-text">Esta es la descripcion del snake</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver highscore</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="./images/preguntados.jpg" alt="Imagen preguntados" style="width:100%">
        
                    <div class="card-body">
                      <p class="card-text">Esta es la descripcion del preguntados</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver highscore</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="./images/ahorcado.jpg" alt="Imagen ahorcado" style="width:100%">
        
                    <div class="card-body">
                      <p class="card-text">Esta es la descripcion del ahorcado</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver highscore</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="./images/mayor-menor.jpg" alt="Imagen mayor o menor" style="width:100%">
        
                    <div class="card-body">
                      <p class="card-text">Esta es la descripcion del mayor menor o igual</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver highscore</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
        </div>
        
    </main>
    <footer>
        <p>Desarrollado por <a href="#">Juan Gabriel Palermo</a></p>
    </footer>
    
</body>